<section class="vs-home image-bg home-img" id="vs-home">
  <div class="img-overlay-color">
    <div class="container">
      <div class="row section-separator xs-column-reverse vertical-middle-content home-padding">
        <div class="col-sm-6">
          <div class=" vs-header-info">
            <div class=" vs-promo wow fadeInUp">
              <span>Hello I'm</span>
            </div>

            <h2 class="wow fadeInUp">Vaibhav Soni</h2>
            <h4 class="wow fadeInUp">Angular Developer</h4>

            <ul>
              <li class="wow fadeInUp"><i class="fa fa-envelope"></i><a href="mailto:">getemail@email.com</a></li>
              <li class="wow fadeInUp"><i class="fa fa-phone"></i><a href="callto:">+12 986 987 7867</a></li>
              <li class="wow fadeInUp"><i class="fa fa-map-marker"></i><address>Alpharetta, Georgia, United State</address></li>
            </ul>

            <ul class="social-icon wow fadeInUp">
              <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-github"></i></a></li>
              <li><a href=""><i class="fab fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="hero-img wow fadeInUp">
            <div class="img-border">
              <img src="./../../assets/img/hero.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
